<div id="<%= dom_id disc %>" class="flex glass-box justify-center items-center gap-4 px-6 py-2 m-2">
  <p class="w-1/4">
    <%= disc.maker %>
  </p>
  <p class="w-1/4">
    <%= disc.model %>
  </p>
  <p>
    <%= link_to "Show", disc, class:"btn-green" %>
  </p>

  <% if !@discbag.include? disc %>
    <%= turbo_frame_tag "new_disckey", src: new_disckey_path(:pointer => disc.id), target:"_top" %>
  <% end %>
</div>