<div class="flex flex-col items-center"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800"><%= @variant.name %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @course.name %>,&nbsp<%= @variant.length %>&nbspHoles</h3>

  <!-- show pars -->

  <div class="flex flex-col w-full justify-center gap-2 mt-4">
    <%= link_to 'Edit this layout', edit_variant_path(@variant), class: "btn-yellow" %>
    <%= button_to "Remove this layout", @variant, method: :delete, class:"btn-yellow w-full" %>
    <%= link_to 'Back to course', @course, class: "btn-blue" %>
  </div>
</div>