<div class="flex flex-col items-center"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800"><%= @variant.name %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @course.name %>,&nbsp<%= @variant.length %>&nbspHoles</h3>

  <div class="flex flex-col w-full mt-4">
    
    <div class="flex flex-col justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 rounded-lg border border-gray-200">

      <div class=" flex justify-evenly align-center w-full">
        <% (1..9).each do |x|%>
          <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full">
        <% @pars.each_with_index do |element, index| %>
          <% if index < 9 %>
            <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
              <%= element %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @variant.length == 18 %>
      <div class="flex flex-col justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 rounded-lg border border-gray-200 mt-4">

      <div class=" flex justify-evenly align-center w-full">
        <% (10..18).each do |x|%>
          <div class="font-raleway w-[11.11%] text-center"><%= x %></div>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full">
        <% @pars.each_with_index do |element, index| %>
          <% if index > 8 %>
            <div class="font-bold font-righteous text-lg w-[11.11%] text-center">
              <%= element %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>    
  </div>

  <div class="flex flex-col w-full gap-4 mt-4">
    <% @variant.cards.each do |element| %>
      <div class="flex justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 rounded-lg border border-gray-200">
        
        <div class="font-bold font-righteous text-lg max-w-[50%] text-center"><%= link_to "#{element.created_at}", element %></div>
        <div class="font-raleway max-w-[35%] text-center"><%= @totalpar %></div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col w-full justify-center gap-2 mt-4">
    <%= link_to 'Play', new_card_path(variant_id: @variant.id), class: "btn-green" %>
    <%= link_to 'Edit this layout', edit_variant_path(@variant), class: "btn-yellow" %>
    <%= button_to "Remove this layout", @variant, method: :delete, class:"btn-yellow w-full" %>
    <%= link_to 'Back to course', @course, class: "btn-blue" %>
  </div>
</div>