<div class="flex flex-col items-center"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800"><%= @course.name %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @course.city %>,&nbsp<%= @course.state %></h3>

  <div class="flex flex-col w-full gap-4 mt-4">
    <% @course.variants.each do |element| %>
      <div class="flex justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 rounded-lg border border-gray-200">
        
        <div class="font-bold font-righteous text-lg max-w-[50%] text-center"><%= link_to "#{element.name}", element %></div>
        <div class="font-raleway max-w-[35%] text-center"><%= element.length %>&nbspHoles</div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col w-full justify-center gap-2 mt-4">
    <%= link_to 'Add a Layout', new_variant_path(:course_id => @course.id), class: "btn-green" %>
    <%= link_to 'Edit this course', edit_course_path(@course), class: "btn-yellow" %>
    <%= link_to 'Back to courses', courses_path, class: "btn-blue" %>
  </div>
</div>