<div class="flex flex-col items-center"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800"><%= @course.name %></h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @course.city %>,&nbsp<%= @course.state %></h3>

  <div class="flex flex-col w-full gap-4 mt-4 items-center">
    <% @course.variants.each do |element| %>
      <%= link_to element do %>
        <div class="flex justify-between items-center px-6 glass-box w-[80vw] md:w-[70vw] lg:w-[60vw] transition-all ease-in">
          
          <div class="font-bold font-righteous text-lg max-w-[50%]"><%= element.name %></div>
          <div class="font-raleway max-w-[35%]"><%= element.length %>&nbspHoles</div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-col w-full justify-center gap-2 mt-4">
    <%= link_to 'Add a Layout', new_variant_path(:course_id => @course.id), class: "btn-green" %>
    <%= link_to 'Edit this course', edit_course_path(@course), class: "btn-yellow" %>
    <%= link_to 'Back to courses', courses_path, class: "btn-blue" %>
  </div>
</div>