<div id="<%= dom_id card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= card.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shots:</strong>
    <%= card.shots %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Length:</strong>
    <%= card.length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= card.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= card.course_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Variant:</strong>
    <%= card.variant_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this card", card, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this card', edit_card_path(card), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
