<div data-controller="viewcard" class="flex flex-col justify-start h-[82vh]">
  <div class="hidden font-raleway text-xl" data-viewcard-target="hiddenPars"><%= @variant.pars %></div>
  <div class="font-raleway text-xl mb-6" data-viewcard-target="hiddenShots"><%= @card.shots %></div>
  <div class="hidden font-raleway text-xl" data-viewcard-target="hiddenLength"><%= @card.length %></div>
  <div class="font-raleway text-xl mb-6 border border-black h-12" data-viewcard-target="testDisplay"></div>
  <div class="font-raleway text-xl mb-6 border border-black h-12" data-viewcard-target="testDisplay2"></div>

  <div class="flex flex-col items-center font-righteous text-4xl -mt-5">
    <div class="flex flex-row w-full justify-center">
      <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800"><%= @course.name %></h2>
    </div>
    <div class="flex justify-center gap-4 w-4/5">
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @course.city %>,&nbsp<%= @course.state %></h3>
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"><%= @variant.name %></h3>
    </div>
  </div>

  <div class="flex flex-col w-full mt-4 text-xl text-slate-800">
    
    <div class="flex flex-col justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-gradient-to-b from-slate-200/50 to-slate-400/50 rounded-lg border-t border-l border-gray-200 inset-shadow">

      <div class=" flex justify-evenly align-center w-full rounded-lg border-b border-slate-200 inset-shadow">
        <% (1..9).each do |x|%>
          <div class="font-bold font-righteous w-[11.11%] text-center p-2"><%= x %></div>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full rounded-lg border-b-2 border-slate-600/50">
        <% @pars.each_with_index do |element, index| %>
          <% if index < 9 %>
            <div class="font-raleway text-slate-700 w-[11.11%] text-center pb-2 pt-1">
              <%= element %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full rounded-lg border-b border-slate-100/20">
        <% (1..9).each do |x|%>
          <div class="font-bold font-righteous w-[11.11%] text-center text-2xl p-1" data-viewcard-target="cardHole"></div>
        <% end %>
      </div>

    </div>

    <% if @card.length == 18 %>
      <div class="flex flex-col justify-evenly items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-gradient-to-b from-slate-200/40 to-slate-400/40 rounded-lg border-t border-l border-gray-200 mt-2 inset-shadow">

      <div class=" flex justify-evenly align-center w-full rounded-lg border-b border-slate-200 inset-shadow">
        <% (10..18).each do |x|%>
          <div class="font-bold font-righteous w-[11.11%] text-center p-2"><%= x %></div>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full rounded-lg border-b-2 border-slate-600/50">
        <% @pars.each_with_index do |element, index| %>
          <% if index > 8 %>
            <div class="font-raleway text-slate-700 w-[11.11%] text-center pb-2 pt-1">
              <%= element %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class=" flex justify-evenly align-center w-full rounded-lg border-b border-slate-100/20">
        <% (1..9).each do |x|%>
          <div class="font-bold font-righteous w-[11.11%] text-center text-2xl p-1" data-viewcard-target="cardHole"></div>
        <% end %>
      </div>
    </div>
    <% end %>    
  </div>

  <div class="flex flex-col items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-gradient-to-tr from-sky-400/50 to-teal-200/50 rounded-lg border-t border-l border-gray-200 mt-2 inset-shadow">
    <div class="flex w-5/6 justify-between m-4">
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800">Fairway</h3>
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800" data-viewcard-target="fairwayPercentage"></h3>
    </div>
  </div>

  <div class="flex flex-col items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-gradient-to-tr from-sky-400/50 to-teal-200/50 rounded-lg border-t border-l border-gray-200 mt-2 inset-shadow">
    <div class="flex w-5/6 justify-between m-4">
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800">C1x</h3>
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800" data-viewcard-target="cOneXPercentage"></h3>
    </div>
  </div>

  <div class="flex flex-col items-center bg-clip-padding backdrop-filter backdrop-blur-xl bg-gradient-to-tr from-sky-400/50 to-teal-200/50 rounded-lg border-t border-l border-gray-200 mt-2 inset-shadow">
    <div class="flex w-5/6 justify-between m-4">
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800">C2</h3>
      <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800" data-viewcard-target="cTwoPercentage"></h3>
    </div>
  </div>


</div>