<!DOCTYPE html>
<html>
  <head>
    <title>Dgcaddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5b70548259.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?&family=Lato:wght@400;700&family=Monoton&family=Questrial&family=Raleway:wght@300;400;600;700&family=Righteous&display=swap" rel="stylesheet">
    
  </head>

  <% if notice %>
    <div class="flex flex-row absolute left-10 bottom-10">
      <%= render 'layouts/alerts' %>
    </div>
  <% end %>
    
  <% if user_signed_in? %>
    <div class="ml-5 mt-5">
      <%= render 'layouts/nav' %>
    </div>
  <% end %>
  <!-- bg-oversize bg-gradient-to-tr from-sky-400 via-cyan-300 to-teal-200 -->
  <body class="bg-white">
    
    <main class="container mt-10 mb-5 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>

</html>

<!-- 
<svg id="eSdVfh28yc61" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 200" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" class="-z-10 absolute top-0 -left-40"><g transform="translate(10.667134 5.154904)">
      <line x1="-16.698113" y1="-29.433962" x2="16.698113" y2="29.433963" transform="matrix(4.387291 0 0 4.581727 66.48607 94.845096)" fill="none" stroke="#fde047" stroke-width="1.5"/>
      <line x1="-16.698113" y1="-29.433962" x2="16.698113" y2="29.433963" transform="matrix(4.387291 0 0 4.581727 76.740519 94.845096)" fill="none" stroke="#bef264" stroke-width="1.5"/>
      <line x1="-16.698113" y1="-29.433962" x2="16.698113" y2="29.433963" transform="matrix(4.387291 0 0 4.581727 86.720993 94.845096)" fill="none" stroke="#86efac" stroke-width="1.6"/>
      <line x1="-16.698113" y1="-29.433962" x2="16.698113" y2="29.433963" transform="matrix(4.387291 0 0 4.581727 56.482453 94.845096)" fill="none" stroke="#5eead4" stroke-width="1.6"/></g>
    </svg>
  -->